In [1]:
%run 1.ProjectSummary.ipynb

PART ONE

In [2]:
#Importing required libraries: Pandas, Numpy, Matplotlib and Seaborn.
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
#Reading CSV file
data=pd.read_csv("DataINX.csv")

In [4]:
#Checking if there are missing values.
data.isnull().any()

EmpNumber                       False
Age                             False
Gender                          False
EducationBackground             False
MaritalStatus                   False
EmpDepartment                   False
EmpJobRole                      False
BusinessTravelFrequency         False
DistanceFromHome                False
EmpEducationLevel               False
EmpEnvironmentSatisfaction      False
EmpHourlyRate                   False
EmpJobInvolvement               False
EmpJobLevel                     False
EmpJobSatisfaction              False
NumCompaniesWorked              False
OverTime                        False
EmpLastSalaryHikePercent        False
EmpRelationshipSatisfaction     False
TotalWorkExperienceInYears      False
TrainingTimesLastYear           False
EmpWorkLifeBalance              False
ExperienceYearsAtThisCompany    False
ExperienceYearsInCurrentRole    False
YearsSinceLastPromotion         False
YearsWithCurrManager            False
Attrition                       False
PerformanceRating               False
dtype: bool

In [5]:
# Visualizing first five records of the dataset.
data.head()

,EmpNumber,Age,Gender,EducationBackground,MaritalStatus,EmpDepartment,EmpJobRole,BusinessTravelFrequency,DistanceFromHome,EmpEducationLevel,...,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition,PerformanceRating
0,E1001000,32,Male,Marketing,Single,Sales,Sales Executive,Travel_Rarely,10,3,...,4,10,2,2,10,7,0,8,No,3
1,E1001006,47,Male,Marketing,Single,Sales,Sales Executive,Travel_Rarely,14,4,...,4,20,2,3,7,7,1,7,No,3
2,E1001007,40,Male,Life Sciences,Married,Sales,Sales Executive,Travel_Frequently,5,4,...,3,20,2,3,18,13,1,12,No,4
3,E1001009,41,Male,Human Resources,Divorced,Human Resources,Manager,Travel_Rarely,10,4,...,2,23,2,2,21,6,12,6,No,3
4,E1001010,60,Male,Marketing,Single,Sales,Sales Executive,Travel_Rarely,16,4,...,4,10,1,3,2,2,2,2,No,3

In [6]:
# Checking dimensions of the dataset, rows x columns.
data.shape

(1200, 28)

In [7]:
# Checking datatype.
data.dtypes

EmpNumber                       object
Age                              int64
Gender                          object
EducationBackground             object
MaritalStatus                   object
EmpDepartment                   object
EmpJobRole                      object
BusinessTravelFrequency         object
DistanceFromHome                 int64
EmpEducationLevel                int64
EmpEnvironmentSatisfaction       int64
EmpHourlyRate                    int64
EmpJobInvolvement                int64
EmpJobLevel                      int64
EmpJobSatisfaction               int64
NumCompaniesWorked               int64
OverTime                        object
EmpLastSalaryHikePercent         int64
EmpRelationshipSatisfaction      int64
TotalWorkExperienceInYears       int64
TrainingTimesLastYear            int64
EmpWorkLifeBalance               int64
ExperienceYearsAtThisCompany     int64
ExperienceYearsInCurrentRole     int64
YearsSinceLastPromotion          int64
YearsWithCurrManager             int64
Attrition                       object
PerformanceRating                int64
dtype: object

In [8]:
#displaying categorical features
for features , datatype in zip(data.columns , data.dtypes):
    if datatype == 'object':
        print(features)

EmpNumber
Gender
EducationBackground
MaritalStatus
EmpDepartment
EmpJobRole
BusinessTravelFrequency
OverTime
Attrition